* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background: #121212;
  color: snow;
}
.article {
  background-color: red;
  width: 50vw;
  font-size: 2rem;
}
h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
}
p {
  font-size: 2rem;
  font-style: italic;
  width: 40ch;
}
