@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background: #121212;
  color: snow;
  padding: 5%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* input,
button {
  font: inherit;
} */

p {
  line-height: 1.5;
}
