@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background: #121212;
  color: snow;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.columns {
  /* column-count: 4;
  column-width: 250px; */
  columns: 4 250px;
  column-rule: 3px solid white;
  column-gap: 3rem;
}
.columns p {
  margin-top: 0;
}
.columns h2 {
  margin-top: 0;
  background-color: red;
  color: blue;
  padding: 1rem;
  break-inside: avoid;
  /* break-before: column; */
}

.columns .quote {
  margin-top: 20px;
  font-size: 3rem;
  text-align: center;
  color: greenyellow;
  column-span: all;
}
.no-wrap {
  white-space: nowrap;
}
